#tela_sobre_stardew{
    background-image: url(/imagens/fundos/fundo_estrelas.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

#div_tela_sobre_stardew{
    padding:1em;
}

#tela_sobre_stardew_img{
    width: 20%;
    float: left;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-left: 1em;
}

#tela_sobre_stardew_titulo{
    font-size: 4rem;
    color: rgb(105, 51, 19);
}

#tela_sobre_stardew_paragrafo{
    font-size: 1.3rem;
    
    padding: 2rem ;
}




@media (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 1024px){


    #tela_sobre_stardew{
        height: 100vh;
        width: 80vw;
        padding-left: 5rem;
        padding-right: 5rem;
        overflow: hidden;
    }

    #tela_sobre_stardew_titulo{
        font-size: 3rem;
    }

    #tela_sobre_stardew_paragrafo{
        font-size: 1.4rem;        
        padding: 2rem ;
    }
}