#tela_personagens{
    background-image: url(../imagens/fundos/fundo_estrela_invertido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding: 5rem 5rem 10rem 15rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 10% 90%;
    justify-content: center;
    justify-items: center; /* Nova linha */
    align-items: center;   /* Nova linha */
    text-align: center;
}

#tela_personagens_titulo{
    font-size: 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

#div_tela_personagens{
    grid-column: 2/3;
    grid-row: 2/3;
}

.tela_personagens_setas{
    width: 40%;
}

.tela_personagens_setas:hover{
    transform: scale(1.1);
}

#seta_esquerda{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
}

#seta_direita{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
}

#div_lista_tela_personagens {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 2em; 
    grid-row: 2/3;
    grid-column: 4/5;
    margin:2rem;

}

.lista_tela_personagens {
    list-style: none;
    display: flex;   
    flex-direction: column;
    gap: 1em;
    align-items: center; 
    padding: 0;
    margin: 0;
    padding-top: 0.6rem;
}

.lista_tela_personagens_icones_imagens{
    width: 2.5rem;
    
}

.lista_tela_personagens_icones_imagens:hover{
    transform: scale(1.2);
}

.div_envolta_personagem{
    background-image: url(../imagens/fundos/fundo_sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: 5px ridge rgb(13, 34, 53);
}


#div_tela_personagens{
    display: grid;
    justify-content: center;
    justify-items: center; /* Nova linha */
    align-items: center;   /* Nova linha */
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
    gap: 1rem;
    padding: 1rem;
}

#tela_personagens_imagem{
    grid-column: 1/2;
    grid-row: 1/2;
    
}

#personagem_imagem{
    padding: 1rem 1rem 0rem 1rem;
}

#tela_personagens_informacoes{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.3rem;
    
}

#tela_personagens_informacoes p{
    padding: 0.4rem;
}

#tela_personagens_presentes{
    grid-row: 2/3;
    grid-column: 1/3;
   
}

#personagem_presentes_titulo{
    padding-bottom: 0.8rem;
}

#presentes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.coracao{
    width: 10%;
}

#div_personagem_nome{
    display: flex;
    justify-content: center;
    justify-items: center; /* Nova linha */
    align-items: center;   /* Nova linha */
    text-align: center;
    gap: 1rem;
}



@media (max-width: 767px){
    #tela_personagens{
        height: 150vh;
        width: 80vw;
        padding-left: 2.6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
        overflow: hidden;
    }

    #tela_personagens_titulo{
        font-size: 60px;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #div_tela_personagens{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .lista_tela_personagens {  
        flex-direction: row;
        padding-top: 0.2rem;
    }

    #div_lista_tela_personagens {
        flex-direction: column;
        gap: 1em; 
        grid-row: 2/3;
        grid-column: 1/3;
        margin:2rem;  
    }

    #seta_esquerda{
        grid-column: 1/2;
        grid-row: 4/5;
        align-self: left;
    }
    
    #seta_direita{
        grid-column: 2/3;
        grid-row: 4/5;
        align-self: center;
    }

    #div_tela_personagens{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.6fr;
        gap: 1rem;
        padding: 1rem;
    }

    #tela_personagens_imagem{
        grid-column: 1/2;
        grid-row: 1/2;
        
    }

    #tela_personagens_informacoes{
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 1.3rem;
        
    }
    
    #tela_personagens_informacoes p{
        padding: 0.4rem;
    }
    
    #tela_personagens_presentes{
        grid-column: 1/2;
        grid-row: 3/4;
       
    }
    
}

@media (min-width: 768px) and (max-width: 1024px){
    #tela_personagens{
        height: 100vh;
        width: 80vw;
        padding-left: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr;
        overflow: hidden;
    }

    #tela_personagens_titulo{
        font-size: 60px;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #div_tela_personagens{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .lista_tela_personagens {  
        flex-direction: row;
        padding-top: 0.2rem;
    }

    #div_lista_tela_personagens {
        flex-direction: column;
        gap: 1em; 
        grid-row: 2/3;
        grid-column: 1/3;
        margin:2rem;  
    }

    #seta_esquerda{
        grid-column: 1/2;
        grid-row: 4/5;
        align-self: left;
    }
    
    #seta_direita{
        grid-column: 2/3;
        grid-row: 4/5;
        align-self: center;
    }
}
